#color-operation {
    display: none;
}

.buttons {
    padding: 0.5rem;
}

.flex-container {
  display: flex;
  align-content: space-between;
}

table {
    border-collapse: collapse;
}

#grid {
    width: 800px;
    height: 800px;
}

#grid td {
    width: 80px;
    position: relative;
}

#grid td input {
    position: absolute;
    top: 30%;
}

#grid td,
#operation-grid td {
    border: solid 1px black;
}

#operation-grid td {
    padding: 0.5rem;
}

#grid input {
    width: calc(100% - 2px);
    height: 20%;
    font-size: 120%;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    border: none;
}

#grid span {
    font-size: 120%;
    padding: 0.5rem;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -25%;
}

#grid input.hidden, 
#grid div.hidden,
#grid span.hidden {
    display: none;
}

#fieldset-color-chooser {
    margin-top: 10rem;
}

#fieldset-color-chooser label {
    position: absolute;
    margin-top: -1rem;
    background: white;
    padding: 0 1rem;
}

#color-chooser {
    padding: 0.5rem;
}

#color-chooser span {
    width: 3rem;
    height: 1.5rem;
    border: black 1px solid;
    display: inline-block;
    margin-left: 0.5rem;
}
